<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head', { title: 'Ballots' }) %>
</head>
<body>
    <div class="mcontainer mt-4 w-full max-w-xl">
        <div class="center w-full">
            <div class="w-full">
                <h1 class="font-extrabold">
                    <%= election.title %>
                </h1>
                <!-- Created on -->
                <p class="text-gray-500">
                    Created on <%= new Date(election.createdAt).toLocaleString() %>
                </p>
                <p class="text-gray-400 text-lg">
                    <%= election.description %>
                </p>
                <div>
                    
                </div>
            </div>
        </div>
    </div>
</body>
</html>