<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head', { title: 'Voting Platform' }) %>
  </head>
  <body>
    <h1 class="text-4xl font-extrabold text-red-500">Hello</h1>
  </body>
</html>
