<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head', { title: 'Voting Platform' }) %>
  </head>
  <body>
    <div class="mcontainer ">
      <h1>Voting Platform</h1>
      <p class="">
        Welcome to the voting platform. Please login to continue.
      </p>
      <a href="/login" class="btn">Login</a>
      <a href="/register" class="btn">Register</a>

    </div>
  </body>
</html>
