<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head', { title: 'Vote' }) %>
  </head>
  <body>
    <div class="mcontainer center mt-4 max-w-2x">
      <%- include('../partials/vote', { election: election, questions: questions, user: user }) %>
    </div>
  </body>
</html>
